# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

#Tickets
tickets/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Compiled JavaScript
dist/

# Parcel cache
.cache/

# Vite cache
.vite/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/

# Yarn specific files
.yarn/
*.lock

# Debugging outputs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
cypress/videos/
cypress/screenshots/

# Build artifacts
build/
#Markdown files
*.mdx
.md